<app-graph></app-graph>
<!-- <div class="container">
  <div class="left-column">
    <h2>Add New Nodes</h2>
    <form>
      <label for="textbox1">Node1 name:</label>
      <input type="text" [(ngModel)]="node1" id="node1" name="node1"><br><br>

      <label for="textbox2">Node2 name:</label>
      <input type="text" [(ngModel)]="node2" id="node2" name="node2"><br><br>

      <label for="textbox3">Relationship:</label>
      <input type="text" [(ngModel)]="relation" id="relation" name="relation"><br><br>

      <button (click)="Add()" type="submit">Submit</button>

    </form>


    <h2>Search Node</h2>
    <form>
      <label for= "textbox4">Enter node name:</label>
      <input type="text" [(ngModel)]="searchNode" id="searchNode" name="searchNode"><br><br>
      <input type="text"  id="searchNode" name="searchNode"><br><br>
      <button  type="submit">Submit</button>
    </form>
  </div>


  <div class="right-column">
    <h2>Knowledge graph chart</h2>
    <ngx-graph class="chart-container" 
    [view]="[800, 200]" 
    [showMiniMap]="true"
    [links]="links"
    [nodes]="nodes"
    >
    </ngx-graph>
  </div>
</div> -->